<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link rel="stylesheet" href="/index.css">
</head>
<body>
    <% if (error) {%>
    <div class="alert alert-danger">
      Something went wrong!
    </div>
    <% } %>
    <h1>Заявки с формы</h1>
    <div class="container">
      <% if (applications.length) { %>
        <table>
          <thead>
              <tr>
                  <th>Дата отправки</th>
                  <th>ФИО</th>
                  <th>Телефон</th>
                  <th>Проблема</th>
              </tr>
          </thead>
          <tbody>
            <% for (let i=0; i < applications.length; i++) { %>
              <tr>
                  <td><%= applications[i].sended_at.toLocaleDateString('ru-RU', {day: '2-digit', month: '2-digit', year: 'numeric'}) %></td>
                  <td><%= applications[i].fullName %></td>
                  <td><%= applications[i].phoneNumber %></td>
                  <td><%= applications[i].problem %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <% } %>
    </div>

</body>
</html>